# Django files
*.log
*.pot
*.pyc
__pycache__/
media/assets/
staticfiles/
*.db
*.sqlite3
database_info.py

# Environment files
.venv/
.env
.env.*

# IDE files
.vscode/
.idea/

# Compiled files
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
