{% extends "base_menu.html" %}

{% block content %}

<div class="video-detail-container">
    <h1>{{object.title}}</h1>
    <div class="video-container">
        <video src="{{ object.video_file.url}}" class="card-img-top" controls></video>
    </div>
    <div style="display: flex; flex-direction: row; align-items: center;">
        <p> Likes: {{likes}}</p>
        {% if user.is_authenticated %}
        {% if liked %}
        <form style="margin: 0 10px 10px" method="post" action="{% url 'videos:videos_dislike' object.id %}">
            {% csrf_token %}
            <input type="submit" value="Dislike">
        </form>
        {% else %}
        <form style="margin: 0 10px 10px" method="post" action="{% url 'videos:videos_like' object.id %}">
            {% csrf_token %}
            <input type="submit" value="Like">
        </form>
        {% endif %}
        {% endif %}
    </div>
    <div class="p-3 mb-2 bg-light text-dark rounded">
        description: {{object.description}}
    </div>
    <p>author: {{object.author}}</p>
    <p>categories: {% for categories in object.categories.all %}
        {{categories.name}}
        {% endfor %}
    </p>
    {% if object.author == user %}
    <a href="{% url 'videos:videos_update' object.id %}">Update</a>
    {% endif %}
    <h4>comment section</h4>
    {% if user.is_authenticated %}
    {% load crispy_forms_tags %}
    <form style="display: flex; flex-direction: row; align-items: flex-end; margin-bottom: 20px;" method="post"
        action="{% url 'videos:videos_comments_create' object.id %}">
        {% csrf_token %}
        {{ comment_form|crispy }}
        <input class="btn btn-light rounded" type="submit" value="Add">
    </form>
    {% else %}
    <p>please login to comment</p>
    {% endif %}
    {% for comment in comment_list %}
    {% load humanize %}
    <p><strong>{{comment.author}}</strong> {{comment.modified|naturaltime}}</p>
    <p style="font-size: 15px; margin: 0 0 25px 15px">{{comment.text}}
        {% if comment.author == user %}
        <a href="{% url 'videos:videos_comments_delete' object.id comment.id %}">(Delete)</a>
        {% endif %}
    </p>
    {% endfor %}
</div>

<style>
    .video-container {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;
        /* 16:9 aspect ratio */
        background-color: black;
    }

    .video-container video {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
        width: auto;
        max-width: 100%;
    }
</style>

{% endblock %}