{% extends "base_menu.html" %}

{% block content %}

<div>
    <div class="row align-items-center">
        {% for video in object_list %}
        <div class="col-sm-6 col-md-4 col-lg-3 mb-4 h-100" >
            <div style=" height: 100%;" class="card">
                <div style=" height: 100%;" class="card-body p-0">
                    <a  href="{% url 'videos:videos_detail' video.id %}">
                        <video style=" 
                        height: 200px; width: 100%;
                        object-fit: cover;
                        object-position: center;"
                        src="{{video.video_file.url}}" 
                        class="card-img-top"
                        controls>
                        </video>
                    </a>
                    <div class="card-footer">
                        <a href="{% url 'videos:videos_detail' video.id %}">
                            <h5 class="video-title">{{ video.title }}</h5>
                        </a>
                        <p class="card-text">by {{ video.author }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<style>
    .video-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Change this value to the maximum number of lines you want to show */
  -webkit-box-orient: vertical;
}
</style>

{% endblock %}